body{
    background-color: #f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}

.navbar-collapse{
    flex-grow: .5;
}

.popular h2{
    font-weight: 500;
    font-size: 36px;
}


.transition img:hover{
    transition: .5s;
}

.transition{
    overflow: hidden;
}

.transition:hover img{
    transition: .5s;
    transform: scale(1.05);
} 
.transition:hover{
    box-shadow: 10px 10px 10px grey;
}
.transition img{
    transition: 1s;
}
.container{
    max-width: 1480px;
}


.footer{
    background-color: black;
    color: white;
    padding: 100px 100px 80px 100px;
    margin-top: 200px;
    font-size: 18px;
}
ul{
    list-style-type: none;
    padding: 0;
}

li{
    margin-top: 10px;

}

a{
    text-decoration: none;
    color: white;
}
p{
    text-align: center;
}


@media (min-width: 415px) and (max-width: 920px){
    .footer{
        display: none;
    }
    body{
        margin-bottom: 10px;
    }
}